extends layout

block content
  form(method='post', action='/articles/add')
  .container
    .row.text-center(style="padding-top:50px")
      .col-md-4.offset-md-4
        .form-group
          input.form-control(type='text', placeholder='Title')
        .form-group
          input.form-control(type='text', placeholder='Author')
        .form-group
          textarea.form-control(rows='3', placeholder='Body')
        button.btn.btn-primary(type='submit') Submit