extends layout

block content
  .container
    .row(style='margin:5px;')
      .col-md-8.offset-md-2
        .list-group
        each article, i in articles
          a.list-group-item.list-group-item-action.flex-column.align-items-start(href='#')(style='padding:10px;')
            .d-flex.w-100.justify-content-between
              h2.mb-1= article.title
              small 3 days ago
            p.mb-1= article.author


      