extends layout

block content
  .container
    .row.space
      .col-md-8.offset-md-2
        .list-group
        each article, i in articles
          a.list-group-item.list-group-item-action.flex-column.align-items-start.pad(href='/article/'+article._id)
            .d-flex.w-100.justify-content-between
              h2.mb-1= article.title
            p.mb-1= article.author
            small 3 days ago


      