extends layout

block content
  h1 #{title}
  .container
    .row
      each article, i in articles
        .col-md-4
          .card.text-white.bg-info.mb-3(style='max-width: 25rem;')
              .card-header
                h3= article.title
              .card-body
                h5.card-title= article.author
                p.card-text= article.body