doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{title}
    link(rel='stylesheet' href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/bootstrap.min.js')
    script(src='/js/script.js')
  body
    include nav
    block content
    include footer
    